---
import Layout from "../layouts/Layout.astro";
const config = {
    apiurl: "http://localhost:3080/api/v1"
};

const fetchInfo = (apiPath) => {
    return fetch(`${config.apiurl}/${apiPath}`)
        .then(res => res.json())
        .catch(err => console.error(err))
}

const fetchResult = await fetchInfo('convocations');    
const convocations = fetchResult.data? fetchResult.data : [];

let busy = true;
const toggleButton = (e) => {
    console.log("clicked")
    e.preventDefault()
        busy = busy? false : true;

}
/* $form.addEventListener('submit', async (event) => {
    event.preventDefault()
    const {value} = $input
    if (!value) return
  
    $submit.setAttribute('disabled', '')
    $submit.setAttribute('aria-busy', 'true')

    const ipInfo = await fetchIpInfo(value);
    if (ipInfo) {
        $results.innerHTML = JSON.stringify(ipInfo, null, 2)
    }

    $submit.removeAttribute('disabled')
    $submit.removeAttribute('aria-busy')
}) */
---
<!-- Below is your "component template." It's just HTML, but with
     some magic sprinkled in to help you build great templates. -->

<Layout title="Tipo Test">
    <main class="container">
        <nav>
            <ul>
              <li><strong>Tipo Test</strong></li>
            </ul>
            <ul>
              <li><a href="admin.html">Admin</a></li>
              <li><a href="#" role="button">Nuevo Test</a></li>
            </ul>
          </nav>        
        <section>
            <select>
                {convocations.map(convocation => (
                    <option value={convocation._id}>{convocation.name}</option>
                  ))}
            </select>
            <details>
                <summary>Últimos Tests</summary>
                <ul>
                  <li>…</li>
                  <li>…</li>
                </ul>
              </details>              
        </section>
        <section>
            <form id="formulario">
                <label> Consulta en la API TipoTest
                    <input required id="input" type="text" placeholder="Introduce aquí el path a consultar en la API">
                    <small>Por ejemplo: convocations</small>
                </label>
                <button onclick={toggleButton} aria-busy={busy}>
                    Consulta la API
                </button>
            </form>
            <div>
                <pre id="results">
    
                </pre>
            </div>
        </section>
    </main>
</Layout>