---
export interface Props {
	title: string;
}

import '../styles/pico.min.css';
import '/favicon.ico';

const { title } = Astro.props;

---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<main class="container">
			<slot />
			<section></section>
			<footer class="grid">
				{import.meta.env.MODE === 'development'?
					<ul>
						<li>
							MODE:
							<strong>{import.meta.env.MODE}</strong>
						</li>
						<li>
							BASE URL:
							<strong>{import.meta.env.BASE_URL}</strong>
						</li>
						<li>
							SITE:
							<strong>{import.meta.env.SITE}</strong>
						</li>
						<li>
							API URL:
							<strong>{import.meta.env.API_URL}</strong>
						</li>
					</ul>
					: "By @jfcorreas"
				}
			</footer>
		</main>
	</body>
</html>

<style is:global>
	tbody tr:hover {
		background-color: rgba(240, 255, 255, 0.185) !important;
	}
	tbody tr.selected {
		background-color: rgba(240, 255, 255, 0.185) !important;
	}
	.componentBusy {
		cursor: wait;
	}
	.warning {
		color: orangered;
	}
	a[role="button"] {
		margin-right: calc(var(--spacing) * 0.5);
	}
	a:hover, a:focus {
		text-decoration: none;
	}
	p.texto {
		white-space: pre-line;
	}
	li.trueQuestion {
		color: greenyellow;
	}
	main.container {
		padding-top: 0px;
	}
	footer {
		text-align: center;
		border-top: 1px solid grey;
	}
	footer ul li {
		display: inline;
		font-size: smaller;
		border-right: 1px solid grey;
		border-left: 1px solid grey;
		padding-left: 5px;
		padding-right: 5px;
	}
</style>
